.user-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-container {
  display: flex;
}


.input-label {
  display: inherit;
  flex-direction: column;
}

.input-span {
  display: inline-block;
  height: 22px;
}

.input-title-div {
  display: flex;
}

.toggle-input-visibility-button {
  background: transparent;
  border: none;
}

.icon {
  max-width: 32px;
}

.hidden {
  display: none;
}
